@model HemenBiletProje.Entities.User
@{
    Layout = null; // Eğer Layout kullanmıyorsanız, Layout'u null yapabilirsiniz
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!-- Hata veya başarı mesajlarını göster -->
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

<form method="post">
    <div class="container">
        <br /><br />
        <div class="alert alert-primary"><h3>Yeni Kullanıcı Kayıt Sayfası</h3></div>

        <label>Email Adresiniz</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        <br />

        <label>Kullanıcı Adınız</label>
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        <br />

        <label>Şifreniz</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        <br />

        <label>Telefon</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        <br />

        <button class="btn btn-primary">Kayıt Ol</button>
    </div>
</form>
